.select-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.select-content #select {
    flex: 1;
    padding-right: 25px;
    -webkit-appearance: none;
    outline: none;
}

.select-content #select option:first-child {
    display: none;
}

.select-content .btn-clean {
    display: flex;
    position: absolute;
    background: none;
    border: none;
    color: #000;
    font-size: 9px;
    margin: 5px;
    padding: 5px;
}

.select-content .btn-clean:focus {
    outline: none;
}