.card {
    flex-direction: row;
    background-color: #dbdfae;
    margin: 15px;
    align-content: center;
    align-items: stretch;
    border: none;
    height: 170px;
}

.card .card-column {
    display: flex;
    flex-direction: column;
}

.card .card-column .action {
    flex: 1;
    border: none;
    display: flex;
    width: 50px;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    transition: .1s ease-in-out;
}

.card .card-column .action span {
    transform:rotate(-90deg);
}

.card .card-column .action:focus {
    outline: none;
}

.card .card-column.details .detail-group {
    flex: 1;
    display: flex;
    font-size: 0.8rem;
}

.card .card-column.details {
    flex: 1;
    display: flex;
    margin: 10px;
    min-width: 150px;
}

.card .card-column.details .detail.value {
    max-width: 170px;
    text-align: right;
}

.card .card-column.details .detail.value input {
    border-bottom-left-radius: 15px;
    text-align: right;
    font-size: 2rem;
}

.card .card-column.details .detail {
    flex: 1;
    display: flex;
    margin: 2px;
    flex-direction: column;
}

.card .card-column.details .detail select,
.card .card-column.details .detail input {
    border: none;
    font-size: 1.2rem;
}

.card .card-column.details .detail input {
    padding: 0 4px;
}

.card .card-column.details .detail select,
.card .card-column.details .detail input::placeholder {
    color: #000;
    font-weight: normal;
}

.card .card-column.details .detail select option:first-of-type {
    display: none;
}


.card .card-column.details .detail select,
.card .card-column.details .detail input:focus {
    outline: none;
}

.card .card-column .action.new {
    background-color : #6c772b;
}

.card .card-column .action.edit,
.card .card-column .action.create {
    background-color : #149b4f;
}

.card .card-column .action.edit:hover,
.card .card-column .action.create:hover {
    background-color : #095028;
}

.card .card-column .action.income {
    background-color : #0c61aa;
}

.card .card-column .action.expenses,
.card .card-column .action.cancel {
    background-color : #b91c1c;
}

.card .card-column .action.cancel:hover {
    background-color : #521313;
}

.card .card-column .action.delete {
    background-color : #4e4e4e;
}

.card .card-column .action.delete:hover {
    background-color : #000000;
}

@media (max-width: 570px) {
    .card {
        height: 270px;
    }

    .card .card-column .action {
        width: 30px;
        font-size: 1rem;
    }

    .card .card-column.details .detail-group {
        flex-direction: column;
    }

    .card .card-column.details .detail-group select,
    .card .card-column.details .detail-group input {
        font-size: 1rem;
    }

    .card .card-column.details .detail-group option {
        font-size: 0.8rem;
    }

    .card .card-column.details .detail.value {
        max-width: none;
    }

    .card .card-column.details .detail.value input {
        font-size: 1.8rem;
    }
}