.container-body {
    background-color: #fff;
}

.search-panel {
    display: flex;
    background-color: #2f352f;
    justify-content: space-between;
}

.search-panel-group {
    display: flex;
    align-items: center;
}

.search-panel-group .panel-group {
    display: flex;
}

.search-panel .button-span {
    display: flex;
    margin: 0 1rem;
    width: 60px;
    height: 30px;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 700;
    transition: .1s ease-in-out;
}

.search-panel .button-span:hover {
    font-size: 1.4rem;
    font-weight: 900;
}

.search-panel .button-span:focus {
    outline: none;
}

.search-panel .select-field,
.search-panel .input-field {
    display: flex;
    background-color: #fff;
    height: 25px;
    border: none;
    font-size: 1rem;
    border-radius: initial;
    padding: 0 1rem;
}

.search-panel .input-field.first{
    width: 300px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.search-panel .input-field.last {
    width: 80px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.search-panel .input-field::placeholder {
    color: #000;
}

input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

.edit-panel {
    height: 78vh;
    overflow-y: scroll;
}

.finances-panel .create-panel {
    opacity: 0;  
    transition: .4s;
}

.finances-panel .create-panel.active {
    opacity: 1;
    transition: .4s .4s ease-in-out;
}

.finances-panel .edit-panel {
    transform: translateY(-200px);
    transition: .4s .4s ease-in-out;
}

.finances-panel .edit-panel.active {
    transform: translateY(0);
    transition: .4s;
    filter: blur(0.5px);
    height: 46vh;
}

@media (max-width: 870px) {
    .search-panel {
        overflow: scroll;
    }
    
    .search-panel .button-span {
        font-size: 1.1rem;
        font-weight: 500;
    }

    .search-panel .button-span:hover {
        font-size: 1.2rem;
        font-weight: 600;
    }

    .search-panel .select-field,
    .search-panel .input-field {
        height: 25px;
        font-size: 0.9rem;
        padding: 0 0.5rem;
    }

    .search-panel .input-field.first{
        width: 100px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .search-panel .input-field.last {
        width: 55px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

@media (max-width: 570px) {
    .finances-panel .edit-panel {
        transform: translateY(-300px);
        transition: .4s .4s ease-in-out;
    }
}