.dashboard-content {
    height: 87vh;
    width: 100vw;
    display: flex;
    background-color: #eaffdc;
    flex-direction: column;
}

.chart-content {
    flex: 1;
    display: flex;
}

.chart-content.chart {
    margin: 20px 20px 0 0;
}

.panel-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100px;
    margin: 20px;
    border-radius: 20px;
}

.panel-column label {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
}

.panel-column label:first-child {
    display: flex;
    color: #fff;
    font-size: 2.2rem;
    font-weight: 700;
    background: none;
    border: none;
}

.panel-column.income {
    background-color: #0c61aa;
}

.panel-column.expense {
    background-color: #b91c1c;
}

.panel-column.balance {
    background-color: #000;
}

@media (max-width: 870px) {
    .dashboard-content {
        overflow-y: scroll;
    }

    .chart-content {
        flex-direction: column;
    }

    .panel-column {
        margin: 5px 20px;
    }
}